.p-hpi-legend{
	font: 12px Arial, Helvetica, sans-serif;
	background-color: #ffffff;
}

.p-hpi-legend .entry-wrap{
	height: 25px;
	padding: 2px;
	margin-bottom: 15px;
}

.p-hpi-legend .entry-wrap .x-item-selected{
	background-color: #8db2e3;
}

.p-hpi-legend .entry-wrap .x-item-over{
	border: 1px solid #8db2e3;
}

.p-hpi-legend .thumb{
	padding: 0px;
	margin: 0px;
	float: left;
	margin-right: 8px;
}

.p-hpi-legend .title{
	padding: 0px;
	margin: 0px;
	float: left;
	padding-top:4px;
}


.p-graph-loadmask{
	margin-top: 10px;
	margin-left: 10px;
	padding: 5px 5px 5px 45px;
	font: 12px Arial, Helvetica, sans-serif;
	font-style: italic;
	vertical-align: middle;
	background-color: transparent;
	background-image:url('/patric/images/hpi/blue-loading.gif') !important;
	background-repeat: no-repeat;
	background-position: left center;
}



.p-btn-openwin{
	background-image:url('/patric/images/hpi/p-btn-window.png') !important;
	/*background-position: right;*/
}

#interaction-toolbar .x-box-inner{
	background-color: #ffffff;
}

/*
#interaction-toolbar button {
	background-color: #f3f3e0;
}
*/