/* group global layout rules */

#header:after, #subheader:after,
#toppage:after, #bottompage:after,
#footer:after, .block:after,
.block-content:after
{
  content:  ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.constrain {
  width: 956px;
  margin: 0 auto;
  position: relative;
}

.on-left {
  float: left;
}

.on-right {
  float: right;
}

input[type="button"],
input[type="submit"] {
  background-color: #0a4773;
  border: 1px #000 solid;
  border-left-color: #4e7b9a;
  border-right-color: #153953;
  border-bottom-color: #031e31;
  border-top-color: #89a9c0;	
  color: #fff;
  font-weight: bold;
  padding: 5px 12px 5px 6px;
  background: #0a4773 url(/patric/images/arrow-white-right.gif) scroll no-repeat right 50%;
}

form .options-link {
  font-size: 1em;
  color: #08466f;
  text-decoration: none;
  margin-left: 1em;
}

/* color bands */

body {
  margin: 0;
  padding: 0;
  background-color: #32688D;
}

#header {
  background-color: #fff;
  border-bottom: 5px #0f4a73 solid;
}

#toppage {
  background-color: #f4f4f4;
  border-bottom: 1px #fff solid;
  padding-bottom: 2em;
}

#footer {
  background: #34698e;
  background-image: linear-gradient(#09456f, #34698e);
  border-top: #227194;
  padding: 12px 0 30px 0;
}

/* group header styles */

#header {
  position: relative;
  height: 75px;
  z-index: 200;
  padding: 0 14px;
}

#masthead a {
  position: absolute;
  background: transparent url(/patric/images/logo-patric-small.png) scroll no-repeat top left;
  width: 243px;
  height: 50px;
  top: 13px;
  text-indent: -9999em;
}

/* group toppage */

#toppage .content {
  padding: 14px;
  min-height: 100px;
}

.fixed-width-font {
  font-family:  'Courier New', Courier, monospace;
}

.back-to-top {
  font-family: Arial, Verdana, sans-serif;
  margin: 25px 0px 0px;
  padding: 15px 0px 10px;
  text-align: center;
  border-top: 1px solid #a6abb5;
}

.back-to-top a:link, .back-to-top a:visited, .back-to-top a:active {
  text-decoration: none;
}

.back-to-top a:hover {
  text-decoration: underline;
}